/* CSS declarations go here */


/*----------RESET CSS---------------%

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*------------BODY CSS----------------*/
/* Move down content because we have a fixed navbar that is 100px tall */
body {
  padding-top: 100px;
  background: transparent;
  height: 100%;
  width: 100%;
}


/*------------HEDER CSS------------------*/
.goldenRibbon {
	position: fixed;
	
    width: 100%;
    background-color: #FFCD04;
 }
.topRibbon {
	height: 10px;
    top: 0px;
    z-index: 100;
}
.bottomRibbon {
	height: 11px;
	top: 59px;
	z-index: 1002;
}
.titlebar {
	top: 10px;
	background-color: #00045E;
	color: #FFCD04;
	height: 50px;
}
.titlebar .navbar-brand {
	color: #FFCD04;
	font-weight: bold;
}
.brandImage {
	position: relative;
	top: -10px;
    height: 100px;
    width: 100px;
    background-color: #FFFFFF;
    background-image: url(/images/Trinity_College_Connecticut_Seal.svg.png);
    background-size: 100px;
    background-repeat: no-repeat;
    display: inline-block;
    z-index: 1200;
    float: left;
}

.brandName {
	padding-left: 30px;
}

/*------------Main template-----------------*/
.contentWrapper {
}