/*#sortRequest {
	background-color: red;
}*/
#byStudents {
	background-color: #8888FF;
}
#byClasses {
	background-color: #88FF88;
}
#byFirstName {
	background-color: blue;

}
#byFirstName:hover {
	background-color: pink;
	cursor: progress;
}

/*div.allReqsBlock  {background-color: #999999;}*/
/*div.reqBlock  {background-color: #999999;}
div.reqSubBlock  {background-color: #999999;}*/

/*.req {
	border: 20px solid transparent; 
}*/
/*.allReqsBlock {
	border: 2px solid #444444;
}*/